p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Groups of buttons */
.btn-group {
  padding: 1em 0 2.5em 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn-group button {
  border: 1px solid #e6e6e6;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 200px;
  box-sizing: border-box;
}

.btn-group button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn-group button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  color: white;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .btn-group {
    flex-direction: column; /* Stack buttons vertically */
    align-items: stretch; /* Expand buttons to fill width */
  }

  .btn-group button {
    flex-basis: auto; /* Reset flex-basis to auto for full width */
    margin-right: 0;
  }
}

/* Warning */
.warning {
  border-radius: 15px;
  background: #d7effd;
  color: #222222;
  padding: 1em 1em 1em 1em;
}

/* Tooltip */
.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -1px;
    /*margin-right: -3px;*/
    position: absolute;
    background: #fcecb7;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 35% 25% 44% 30%;
    padding: 2px 2px 2px 2px;
}

.highlight .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.highlight .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.highlight:hover .tooltiptext {
    visibility: visible;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Wrap items to next row when there's not enough space */
}

.flex-item {
    padding: 1em 0 1em 0; 
    flex: 1 0 20%; /* Grow, shrink, and basis values */
    /* You can adjust the percentage value to determine the width of each column */
  
    /* Optional styling for the flex items */
    box-sizing: border-box;
}

.flex-item button {
    padding: 10px 24px; 
    border: 1px solid #e6e6e6; 
    color: black; 
    width: 150px;
    cursor: pointer;
    float: left; 
    border-radius: 8px; 
}