p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*----------------------------------------------------------------------------*/
/* Groups of buttons */
.btn-group {
  width:100%;
  padding: 1em 0 2.5em 0; 
}

.btn-group button {
  border: 1px solid #e6e6e6; 
  color: black; 
  padding: 10px 24px; 
  cursor: pointer;
  float: left; 
}

.btn-group .lecture {
  width:20%;
  background-color: #ed6a5d;
}

.btn-group .podcast {
  width:20%;
  background-color: #f5be4f;
}

.btn-group .notebook {
  width:20%;
  background-color: #61c554;
}

.btn-group .exercises {
  width:20%;
  background-color: #6db2d6;
}

.btn-group .cheat {
  width:20%;
  background-color: #a38ebd;
}

.btn-group button:first-child {
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
}

.btn-group button:last-child {
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  color: white;
}

#pseudo1:hover, #pseudo2:hover, #pseudo3:hover, #pseudo4:hover, #pseudo5:hover {
  cursor: default;
  color: black;
}

/*----------------------------------------------------------------------------*/
/* Warning */
.warning {
  border-radius: 15px;
  background: #d7effd;
  color: #222222;
  padding: 1em 1em 1em 1em;
}

/*----------------------------------------------------------------------------*/
/* Tooltip */
.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -1px;
    /*margin-right: -3px;*/
    position: absolute;
    background: #fcecb7;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 35% 25% 44% 30%;
    padding: 2px 2px 2px 2px;
}

.highlight .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.highlight .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.highlight:hover .tooltiptext {
    visibility: visible;
}

/*----------------------------------------------------------------------------*/
/* Details */
details {
    border: 1px solid #e6e6e6; 
    border-radius: 15px;
    padding: 0.5em 0.5em 0;
    background-color: #6db2d6;
}

summary {
    color: black; 
    font-weight: normal;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0.5em;
}

/*----------------------------------------------------------------------------*/
/* Exercises */

.quiz {
  border-radius: 10px;
  background: #ffffff;
  color: #333333;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

.quiz .question {
    font-weight: bold;
    margin-bottom: 1em;
}

.quiz label {
    display: block;
}

.quiz .check {
    margin-top: 1em;
    padding: 10px 24px; 
    border: 1px solid #e6e6e6; 
    border-radius: 8px;
    cursor: pointer;
    color: black; 
    background-color: #f7f7f7;
}

.quiz .check:disabled {
    background-color: #fcfcfc;
    color: #969696; 
    cursor: not-allowed;
}

.quiz input[type="radio"] {
    width: 20px;
}

.quiz input[type="checkbox"] {
    width: 20px;
}

.quiz .success {
  margin-top: 1em;
  border-radius: 10px;
  background: #61c554;
  color: #222222;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.quiz .failure {
  margin-top: 1em;
  border-radius: 10px;
  background: #ed6a5d;
  color: #222222;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

/*----------------------------------------------------------------------------*/
/* Exercises */

.quiz .order {
    /* display: inline-block;
    justify-content: space-between; */
    
    width: 100%;
    height: auto;
    min-height: 3.95em;
    border-radius: 10px;
    background: #d7effd;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.quiz .pool {
    padding: 1em 0 1em;
}

.quiz .element {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 8px;
    background: #2D3143;
    cursor: grab;
    margin: 0.125em;
    opacity: 0.999;
}

.quiz .element code {
    text-align: center;
    background: #2D3143 !important;
    color: #6EB2D7 !important;
}
