p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* Groups of buttons */
.btn-group {
  padding: 1em 0 2.5em 0; 
}

.btn-group button {
  border: 1px solid #e6e6e6; 
  color: black; 
  padding: 10px 24px; 
  cursor: pointer;
  float: left; 
}

.btn-group button:first-child {
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
}

.btn-group button:last-child {
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  /* background-color: #3987c6;*/
  color: white;
}

/* Warning */
.warning {
  border-radius: 15px;
  background: #d7effd;
  color: #222222;
  padding: 1em 1em 1em 1em;
}

/* Tooltip */
.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -1px;
    /*margin-right: -3px;*/
    position: absolute;
    background: #fcecb7;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 35% 25% 44% 30%;
    padding: 2px 2px 2px 2px;
}

.highlight .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.highlight .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.highlight:hover .tooltiptext {
  visibility: visible;
}
